Daemaged.Compression/obj/
Daemaged.Compression/bin/
*.suo
Daemaged.Compression.Mixed/obj/
Daemaged.Compression.GZip.ConsoleTester/obj/
Daemaged.Comoression.GZip.Tests/obj/
*.user
*.sdf
*.opensdf
bin/
*.DotSettings
