[submodule "extsrc/bzip2"]
	path = extsrc/bzip2
	url = git@github.com:damageboy/bzip2
[submodule "extsrc/lzo2"]
	path = extsrc/lzo2
	url = git@github.com:damageboy/lzo2
[submodule "extsrc/zlib-ng"]
	path = extsrc/zlib-ng
        url = git@github.com:Dead2/zlib-ng.git
[submodule "extsrc/lz4"]
	path = extsrc/lz4
	url = https://github.com/lz4/lz4.git
	branch = dev
[submodule "extsrc/xz"]
	path = extsrc/xz
	url = https://git.tukaani.org/xz.git
[submodule "extsrc/zstd"]
	path = extsrc/zstd
	url = https://github.com/facebook/zstd.git
[submodule "extsrc/brotli"]
	path = extsrc/brotli
	url = https://github.com/google/brotli.git
